<div class="modal-header">
  <h3>Feedback</h3>
</div>
<div class="modal-body">
  <div class="bs-callout bs-callout-info">
    We're always happy to receive feedback. Feel free to leave any questions, comments, or suggestions.
  </div>
  <table class="input-table">
    <tr>
      <td style="width: 12em;">Your name:</td>
      <td>
        <input class="form-control" type="text" ng-model="feedback.name">
      </td>
    </tr>
    <tr>
      <td style="width: 12em;">Email:</td>
      <td>
        <input class="form-control" type="text" ng-model="feedback.email">
      </td>
    </tr>
    <tr>
      <td style="width: 12em;">Comment:</td>
      <td>
        <textarea class="form-control" ng-model="feedback.text"></textarea>
      </td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="send()">Send</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
