<div style="position: relative;">

  <div class="" style="position: absolute; left: 0; top: 0; border-left: 10em solid #f4f4f4; width: 100%; ">
    <div class="tab-content" style="height: 100%" ng-transclude>
    </div>
  </div>

  <div class="tab-container" style="position: absolute; left: 0; top: 0; width: 10em;">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="tab in tabs" ng-class="{ active: activeTab == $index}">
        <a href="#" ng-click="setActiveTab($index)">
          {{ tab.name }}
        </a>
      </li>
    </ul>
  </div>

</div>