body {
  overflow: hidden;
}

.navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.butter-bar-inner {
  display: inline-block;
  background: #ff8;
  border: 1px solid #ed2;
  border-radius: 4px;
  padding: 4px 8px 1px 8px;
  max-width: 60%;
}

.butter-bar-outer {
  position: absolute;
  top: -4px;
  width: 100%;
  text-align: center;
  height: 0;
  z-index: 1000;
}

.info-panel {
  padding: 16px;
}

.info-panel h1 {
  margin-top: 0;
}

.nav a {
  cursor: pointer;
}

ul.nav a {
  border-radius: 0;
}

button.btn {
  border-radius: 0;
}

.log {
  font-family: "Courier New", monospace;
  white-space: pre;
}

#model-log {
  overflow: auto;
  padding: 8px;
}

.close-btn {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 8px;
}

.close-btn:hover {
  color: black;
  text-decoration: none;
}
