body {
  overflow: hidden;
}

.navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.butter-bar-inner {
  display: inline-block;
  background: #ffb;
  border: 1px solid #ed2;
  border-radius: 4px;
  padding: 4px 8px 1px 8px;
  max-width: 60%;
}

.butter-bar-inner span {
  margin-right: 0.5em;
}

.butter-bar-outer {
  position: absolute;
  top: -4px;
  width: 100%;
  text-align: center;
  height: 0;
  z-index: 1000;
}

@media print {
  .butter-bar-outer {
    display: none;
  }
}

.nav a {
  cursor: pointer;
}

ul.nav a {
  border-radius: 0;
}

button.btn {
  border-radius: 0;
}

.log {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  white-space: pre;
}

#model-doc {
  overflow: auto;
  padding: 8px 16px 8px 16px;
  text-align: justify;
}

#model-doc h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 6px;
}

#model-doc h2 {
  font-size: 24px;
  margin-bottom: 6px;
}

#model-doc h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

#model-doc .MathJax_Display, div.display {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #5bc0de;
  background-color: #f4f8fa;
  display: block;
  text-align: center;
}

#model-doc table.lo-model {
  margin-left:auto;
  margin-right:auto;
}

#model-doc table.lo-model > tbody > tr > td {
  text-align: right;
  padding-left: 0.5em;
}

#model-doc table.lo-model.align-left > tbody > tr > td {
  text-align: left;
}

#model-doc table.lo-model > tbody > tr:last-child > td {
  text-align: left;
}

#model-doc table.lo-model > tbody > tr > td:first-child {
  text-align: left;
  padding-left: 0;
  padding-right: 0.5em;
}

#model-log {
  overflow: auto;
  padding: 8px 8px 8px 16px;
}

#model-results {
  overflow: auto;
  padding: 8px 8px 8px 16px;
}

#model-results .verbatim {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

.close-btn {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 8px;
}

.close-btn:hover {
  color: black;
  text-decoration: none;
}

input.input-range {
  width: 40%;
  display: inline-block;
}

span.input-range-to {
  text-align: center;
  width: 15%;
  display: inline-block;
}

.tab-content {
  background: white;
}

.tab-container {
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}

.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.divider-vertical {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  border-top: 1px solid #ddd;
}

table.input-table {
  width: 100%;
}

table.input-table td {
  vertical-align: top;
  line-height: 34px;
}

table.input-table td .bs-callout {
  line-height: 1.41;
  padding-top: 4px;
  padding-bottom: 4px;
}

table.input-table td textarea {
  height: 150px;
  resize: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

h1 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 14px;
}

pre.no-border {
  border: none;
  background: transparent;
}

.sensitivity-subject {
  font-weight: bold;
  color: #28f;
}
