<div class="modal-header">
  <h3>Getting started tour</h3>
</div>
<div class="modal-body">
  <ng-switch on="activePage">
    <div ng-switch-when="1" id="">
      <p>Welcome to this Linear Optimization Solver. In this Getting Started dialog, we will briefly guide
        you through this app.

      <p>On the left of the screen, there are a number of tabs: <b>Documentation</b>,
      <b>Model</b>, and <b>Solution</b> (which itself has a number of sub-tabs). We will go through each of them
      in the next few steps.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="2">
      <p>Many built-in models in the app have description of the problem that the model solves, and the
        modeling approach. The <b>Documentation</b> tab shows this description for the currently loaded model.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="3">
      <p>The <b>Model</b> tab shows the GMPL code for the model. This is computer code that defines the mathematical
      in a suitable way for the solver. In the code, the variables, the objective function, and the constraints
        are declared.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="4">
      <p>The <b>Solution</b> tab shows the results from computations with the model.
        Clicking the green "Solve model" button in the bottom left corner of the screen starts
        the solution process of the current model:

      <p><button ng-click="parentScope.solveModel()" class="btn btn-success">
        <span>Solve model</span>
      </button>

      <p>Since solving the model can take some time, the solution process runs in the background.
      Once the solution process is finished, the yellow bar on the top of the screen reports back on whether an
      optimal solution was found or not.

      <p>Click 'Next' to solve the model and continue.
    </div>
    <div ng-switch-when="5">
      <p>Since the model has now been solved, we can look at the solution results. The <b>Model overview</b>
        tab lists general characteristics of the model. For example, the type of model (continuous, integer, binary),
        the direction of optimization (is it a minimizing model, or a maximizing model?), the numbers of variables
        and constraints.

      <p>If the model is two-dimensional, then the feasible region is plotted, along with the optimal point
        or points. So, for example, in the current model, the (unique) optimal solution satisfies <tt>x1 = 4.5</tt>,
        <tt>x2 = 4.5</tt>.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="6">
      <p>The <b>Variables</b> tab lists the variables of the model, their optimal values, and several other values.
        For the current model, the variables are <tt>x1</tt> and <tt>x2</tt>. They are real-valued (as opposed to
      integer or binary). Both variables have optimal value <tt>4.5</tt>.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="7">
      <p>The <b>Constraints</b> tab lists the constraints of the model, and the so-called slack values at the optimal
        solution. The current model has four constraints, named <tt>c11</tt>, <tt>c12</tt>, <tt>c13</tt>, and
      <tt>c14</tt>.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="8">
      <p>The <b>Output</b> tab lists any output generated by <tt>printf</tt> statements in the code.
        There are no such statements in the model, so there is nothing to display.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="9">
      <p>The <b>Log messages</b> tab lists any output generated by the solver. This is useful
      for tracing any problems in the solution process.

      <p>Click 'Next' to continue.
    </div>
    <div ng-switch-when="10">
      <p>You have reached the end of the tour.

      <ul>
      <li>There are lots of examples in the <b>Examples</b> menu.</li>
      <li>You can load and save models from the <b>Model</b> menu.</li>
      <li>You can run sensitivity analysis from the <b>Run</b> menu.</li>
      </ul>

      <p>Click 'Close' to end the tour.
    </div>
  <ng-switch>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()" ng-if="activePage < numPages">Close dialog</button>
  <button class="btn btn-primary" ng-click="previous()" ng-if="activePage > 1">&lt;&lt; Back</button>
  <button class="btn btn-primary" ng-click="next()" ng-if="activePage < numPages">Next &gt;&gt;</button>
  <button class="btn btn-primary" ng-click="close()" ng-if="activePage == numPages">Close</button>
</div>
