<!doctype html>
<html ng-app="lio-ng">
<!-- version {{DATE}} -->
<head>
  <title>Linear Optimization</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script type="text/javascript"
          src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript"
      src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
  <script type="text/javascript"
          src="//apis.google.com/js/client.js"></script>
  <script type="text/javascript"
          src="//apis.google.com/js/api.js"></script>

  <script type="text/javascript" src="/lib/jqplot/jquery.jqplot.js"></script>
  <script type="text/javascript" src="/lib/jqplot/plugins/jqplot.highlighter.js"></script>
  <script type="text/javascript" src="/lib/jqplot/plugins/jqplot.cursor.js"></script>
  <script type="text/javascript" src="/lib/marked/marked.js"></script>
  <script type="text/javascript" src="/lib/marked/angular-marked.js"></script>
  <script type="text/javascript" src="/lib/ui-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="/lib/ui-chart/chart.js"></script>
  <script type="text/javascript" src="/lib/ui-grid/ui-grid-stable.js"></script>
  <script type="text/javascript" src="/application/boot.js"></script>
  <script type="text/javascript" src="/application/ace/mode-gmpl.js"></script>
  <script type="text/javascript" src="/application/ace/theme-lio-ng.js"></script>
  <script type="text/javascript" src="/application/ace/ui-ace.js"></script>
  <script type="text/javascript" src="/application/directives/results/container.js"></script>
  <script type="text/javascript" src="/application/directives/results/graph.js"></script>
  <script type="text/javascript" src="/application/directives/results/table.js"></script>
  <script type="text/javascript" src="/application/directives/results/verbatim.js"></script>
  <script type="text/javascript" src="/application/directives/resizable.js"></script>
  <script type="text/javascript" src="/application/directives/mathjax.js"></script>
  <script type="text/javascript" src="/application/directives/tabs.js"></script>
  <script type="text/javascript" src="/application/application.js"></script>
  <script type="text/javascript" src="/application/common/util.js"></script>
  <script type="text/javascript" src="/application/common/math_util.js"></script>
  <script type="text/javascript" src="/application/dialogs/about.js"></script>
  <script type="text/javascript" src="/application/dialogs/error.js"></script>
  <script type="text/javascript" src="/application/dialogs/export.js"></script>
  <script type="text/javascript" src="/application/dialogs/feedback.js"></script>
  <script type="text/javascript" src="/application/dialogs/sensitivity.js"></script>
  <script type="text/javascript" src="/application/services/examples.js"></script>
  <script type="text/javascript" src="/application/services/google-api.js"></script>
  <script type="text/javascript" src="/application/services/google-drive.js"></script>
  <script type="text/javascript" src="/application/services/google-picker.js"></script>
  <script type="text/javascript" src="/application/services/jqplotrenderer.js"></script>
  <script type="text/javascript" src="/application/services/message.js"></script>
  <script type="text/javascript" src="/application/services/jobrunner.js"></script>
  <script type="text/javascript" src="/application/services/retry.js"></script>
  <script type="text/javascript" src="/application/services/solver.js"></script>
  <script type="text/javascript" src="/application/services/storage.js"></script>
  <script type="text/javascript" src="/application/services/autosave.js"></script>
  <script type="text/javascript" src="/application/ace/token-tooltip.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/ui-bootstrap/bootstrap-modified.css">
  <link rel="stylesheet" type="text/css" href="/lib/jqplot/jquery.jqplot.css">
  <link rel="stylesheet" type="text/css" href="/lib/ui-grid/ui-grid-stable.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

  <script type="text/x-mathjax-config">
        MathJax.Hub.Config({skipStartupTypeset: true});
  </script>
</head>

<body ng-controller="AppCtrl">
<!-- PLACEHOLDER -->

<div class="navbar-collapse navbar-inverse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle">Model</a>
      <ul class="dropdown-menu">
        <li class="disabled"><a>New model</a></li>
        <li class="divider-vertical"></li>
        <li><a ng-click="loadModelFromDrive()">Load from Google Drive...</a></li>
        <li class="disabled"><a>Save to Google Drive...</a></li>
        <li class="divider-vertical"></li>
        <li class="disabled"><a>Download</a></li>
        <li class="disabled"><a ng-click="exportModel()">Export</a></li>
        <li class="disabled"><a>Print</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Run</a>
      <ul class="dropdown-menu">
        <li><a ng-click="solveModel()">Solve</a></li>
        <li><a ng-click="showSensitivityDialog()">Sensitivity analysis...</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Examples</a>
      <ul class="dropdown-menu">
        <li ng-repeat="item in examples" ng-class="{'dropdown-submenu': item.hasOwnProperty('subItems')}">
          <a ng-click="loadModel(item.url)">{{item.name}}</a>
          <ul class="dropdown-menu">
            <li ng-repeat="subItem in item.subItems">
              <a ng-click="loadModel(subItem.url)">{{subItem.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Help</a>
      <ul class="dropdown-menu">
        <li><a target="_blank" href="http://www.lio.yoriz.co.uk/">Book website</a></li>
        <li><a target="_blank" href="/doc/gmpl/index.html">GNU MathProg language reference</a></li>
        <li class="divider-vertical"></li>
        <li><a ng-click="showFeedback()">Leave feedback...</a></li>
        <li><a ng-click="showAbout()">About...</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="butter-bar-outer">
  <div class="butter-bar-inner" ng-controller="ButterBarCtrl" ng-show="isVisible">
    {{status.message}}
    <div class="close-btn" ng-click="clear()">&#10006;</div>
  </div>
</div>

<tabs>
  <tabpane name="Documentation">
    <div id="model-doc" mathjax-bind="model.doc" resizable
         style="height: {{windowHeight - 26}}px;">
    </div>
  </tabpane>
  <tabpane name="Model" ng-controller="EditorTabCtrl" data-ng-activate="focusOnEditor()">
    <div id="editor"
         ui-ace="{mode: 'gmpl', theme: 'lio-ng', animatedScroll: true, onChangeSelection: onChangeSelection}"
         ng-model="model.code"
         resizable
         style="height: {{windowHeight - 26}}px; width: 100%; font-size: 14px;"></div>
  </tabpane>
<!--  <tabpane name="Scenario 1 (active)" level="2" ng-controller="EditorTabCtrl" data-ng-activate="focusOnEditor()">
    <div id="editor-1"
         ui-ace="{mode: 'gmpl', theme: 'lio-ng', animatedScroll: true, onChangeSelection: onChangeSelection}"
         ng-model="model.code"
         resizable
         style="height: {{windowHeight - 26}}px; width: 100%; font-size: 14px;"></div>
  </tabpane> -->
  <tabpane name="Solution" ng-controller="ResultsTabCtrl" data-ng-activate="refresh()">
    <div class="scrollable" resizable style="height: {{windowHeight - 26}}px;">
      <h1>Solution</h1>
      <div ng-if="model.results.overview == null || model.results.overview.length == 0"  class="bs-callout bs-callout-info">
        Press "Solve model" to solve the model.
      </div>
      <p>Here, you can find several aspects of the solution of the model:</p>
      <ul>
        <li>The <a href="#" ng-click="activateTab('tab-overview')">model overview</a> page gives an overview of the
          model: what type of problem is it, how many variables does it have, and how many constraints? If the model
          is two-dimensional, a graph of the feasible region is displayed.</li>
        <li>The <a href="#" ng-click="activateTab('tab-variables')">variables</a> page lists the variables of the model,
          their corresponding optimal values, and several other values..</li>
        <li>The <a href="#" ng-click="activateTab('tab-constraints')">constraints</a> page lists the constraints of the
          model, their corresponding optimal right hand side value, and several other values.</li>
        <li><a href="#" ng-click="activateTab('tab-output')">Output</a> contains any output generated by the model.</li>
        <li><a href="#" ng-click="activateTab('tab-log')">Log messages</a> contains (debugging) information provided
          by the solution algorithm.</li>
      </ul>
    </div>
  </tabpane>
  <tabpane name="Model overview" id="tab-overview" ng-controller="ResultsTabCtrl" data-ng-activate="refresh()" level="2">
    <results-container resizable style="height: {{windowHeight - 26}}px;"
                       entries="model.results.overview"
                       title="Model overview"></results-container>
  </tabpane>
  <tabpane name="Variables" id="tab-variables" ng-controller="ResultsTabCtrl" data-ng-activate="refresh()" level="2">
    <results-container resizable style="height: {{windowHeight - 26}}px;"
                       entries="model.results.primal"
                       title="Variables"></results-container>
  </tabpane>
  <tabpane name="Constraints" id="tab-constraints" ng-controller="ResultsTabCtrl" data-ng-activate="refresh()" level="2">
    <results-container resizable style="height: {{windowHeight - 26}}px;"
                       entries="model.results.dual"
                       title="Constraints"></results-container>
  </tabpane>
  <tabpane name="Output" id="tab-output" ng-controller="ResultsTabCtrl" data-ng-activate="refresh()" level="2">
    <results-container resizable style="height: {{windowHeight - 26}}px;"
                       entries="model.results.output"
                       title="Output"></results-container>
  </tabpane>
  <tabpane name="Log messages" id="tab-log" level="2">
    <div id="model-log"
         class="log scrollable"
         resizable
         style="height: {{windowHeight - 26}}px;">{{model.log}}
    </div>
  </tabpane>
</tabs>

<button style="position: absolute; bottom: 0; left: 0; height: 48px; width: 140px;"
        ng-click="solveModel()"
        class="btn btn-success">
  <div ng-switch on="isComputing">
    {{working}}
    <span ng-switch-when="true"><img src="/images/working-green.gif"> Cancel</span>
    <span ng-switch-when="false">Solve model</span>
  </div>
</button>

</body>

</html>
