<!doctype html>
<html ng-app="lio-ng">
<head>
  <title>Linear Optimization</title>
  <script type="text/javascript" src="/lib/jquery/jquery-2.1.0.js"></script>
  <script type="text/javascript" src="/lib/jqplot/jquery.jqplot.js"></script>
  <script type="text/javascript" src="/lib/jqplot/plugins/jqplot.highlighter.js"></script>
  <script type="text/javascript" src="/lib/jqplot/plugins/jqplot.cursor.js"></script>
  <script type="text/javascript" src="/lib/ace/ace.js"></script>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/ui-ace/ui-ace.js"></script>
  <script type="text/javascript" src="/lib/ui-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="/lib/ui-chart/chart.js"></script>
  <script type="text/javascript" src="/src/ace/mode-gmpl.js"></script>
  <script type="text/javascript" src="/src/ace/theme-lio-ng.js"></script>
  <script type="text/javascript" src="/src/directives/resultgraph.js"></script>
  <script type="text/javascript" src="/src/directives/resulttable.js"></script>
  <script type="text/javascript" src="/src/directives/resizable.js"></script>
  <script type="text/javascript" src="/src/directives/tabs.js"></script>
  <script type="text/javascript" src="/src/application.js"></script>
  <script type="text/javascript" src="/src/common/util.js"></script>
  <script type="text/javascript" src="/src/common/math_util.js"></script>
  <script type="text/javascript" src="/src/dialogs/about.js"></script>
  <script type="text/javascript" src="/src/dialogs/feedback.js"></script>
  <script type="text/javascript" src="/src/dialogs/sensitivity.js"></script>
  <script type="text/javascript" src="/src/services/jqplotrenderer.js"></script>
  <script type="text/javascript" src="/src/services/message.js"></script>
  <script type="text/javascript" src="/src/services/solver.js"></script>
  <script type="text/javascript" src="/src/services/storage.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/ui-bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/lib/jqplot/jquery.jqplot.css">
  <link rel="stylesheet" type="text/css" href="/src/css/application.css">
  <link rel="stylesheet" type="text/css" href="/src/directives/resulttable.css">
</head>

<body ng-controller="AppCtrl">
<script>
  var INITIAL_MODEL = "";
  // placeholder
</script>

<div class="collapse navbar-collapse navbar-inverse">
  <ul class="nav navbar-nav">
<!--    <li class="dropdown">
      <a class="dropdown-toggle">Model</a>
      <ul class="dropdown-menu">
        <li><a>Language</a></li>
        <li><a>Clear model</a></li>
        <li><a>Save</a></li>
        <li><a>Download</a></li>
        <li><a>Print</a></li>
      </ul>
    </li> -->
    <li class="dropdown">
      <a class="dropdown-toggle">Run</a>
      <ul class="dropdown-menu">
        <li><a ng-click="solveModel()">Solve</a></li>
        <li><a ng-click="showSensitivityDialog()">Sensitivity analysis...</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Examples</a>
      <ul class="dropdown-menu">
        <li ng-repeat="item in examples" ng-class="{'dropdown-submenu': item.hasOwnProperty('subItems')}">
          <a ng-click="loadModel(item.url)">{{item.name}}</a>
          <ul class="dropdown-menu">
            <li ng-repeat="subItem in item.subItems">
              <a ng-click="loadModel(subItem.url)">{{subItem.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Help</a>
      <ul class="dropdown-menu">
        <li><a target="_blank" href="http://www.lio.yoriz.co.uk/">Book website</a></li>
        <li><a target="_blank" href="/doc/gmpl/index.html">GNU MathProg language reference</a></li>
        <li class="divider-vertical"></li>
        <li><a ng-click="showFeedback()">Leave feedback...</a></li>
        <li><a ng-click="showAbout()">About...</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="butter-bar-outer">
  <div class="butter-bar-inner" ng-controller="ButterBarCtrl" ng-show="isVisible">
    {{status.message}}
    <div class="close-btn" ng-click="clear()">&#10006;</div>
  </div>
</div>

<tabs>
  <tabpane name="Information">
    <div id="model-info" resizable
         style="height: {{windowHeight - 26}}px;">
      <h1>Linear Optimization Solver</h1>

      <p>This is an online solver for linear optimization models, primarily developed for the book
        <a href="http://www.lio.yoriz.co.uk/">Linear and Integer Optimization:
        Theory and Practice</a>.</p>

      <h3>Getting started</h3>
      <p>Choose any of the examples in the top menu to start with an example from the book, or create a
        <a>new model</a>.</p>

      <h3>About linear optimization</h3>
      <p>Linear optimization (also called linear programming) is a mathematical method to achieve the best outcome
        (such as maximum profit or lowest cost) in a mathematical model whose requirements are represented by linear
        relationships. Linear optimization is a special case of mathematical optimization.</p>

      <p>More formally, linear optimization is a technique for the optimization of a linear objective function, subject
        to linear equality and linear inequality constraints. Its feasible region is a convex polyhedron, which is a
        set defined as the intersection of finitely many half spaces, each of which is defined by a linear inequality.
        Its objective function is a real-valued affine function defined on this polyhedron. A linear optimization
        algorithm finds a point in the polyhedron where this function has the smallest (or largest) value if such a
        point exists.
        Linear optimization models can be expressed in the following canonical form:</p>

        <div class="bs-callout bs-callout-info ng-binding">
          <div class="display-math">
          <table>
            <tr>
              <td>maximize</td><td><span class="math"><b>c</b><sup>T</sup><b>x</b></span></td>
            </tr>
            <tr>
              <td>subject to</td><td><span class="math"><b>A</b><b>x</b>&nbsp;&le;&nbsp;<b>b</b></span></td>
            </tr>
            <tr>
              <td></td><td><span class="math"><b>x</b>&nbsp;&ge;&nbsp;<b>0</b></span></td>
            </tr>
          </table>
          </div>
        </div>

      where <span class="math"><b>x</b></span> represents the vector of variables (to be determined),
      <span class="math"><b>c</b></span> and <span class="math"><b>b</b></span> are
      vectors of known coefficients, <span class="math"><b>A</b></span> is a known matrix of coefficients, and
      <span class="math">(&middot;)<sup>T</sup></span> is the matrix
      transpose. The expression to be maximized or minimized is called the objective function
      (<span class="math"><b>c</b><sup>T</sup><b>x</b></span> in this case).
      The inequalities <span class="math"><b>A</b><b>x</b>&nbsp;&le;&nbsp;<b>b</b></span> and
      <span class="math"><b>x</b>&nbsp;&ge;&nbsp;<b>0</b></span> are the constraints
      that specify the set of points over which the objective function is to be optimized.
    </div>
  </tabpane>
  <tabpane name="Model">
    <div id="editor"
         ui-ace="{mode: 'gmpl', theme: 'lio-ng'}"
         ng-model="model.code"
         resizable
         style="height: {{windowHeight - 26}}px; width: 100%; font-size: 14px;"></div>
  </tabpane>
  <tabpane name="Result">
    <div id="model-results" resizable
         style="height: {{windowHeight - 26}}px;">
      <div ng-repeat="entry in model.results">
        <div ng-switch on="entry.type">
          <result-table ng-switch-when="table" ng-model="entry.table"></result-table>
          <result-graph ng-switch-when="graph" ng-model="entry.graph"></result-graph>
        </div>
      </div>
    </div>
  </tabpane>
  <tabpane name="Messages">
    <div id="model-log"
         class="log"
         resizable
         style="height: {{windowHeight - 26}}px;">{{model.log}}
    </div>
  </tabpane>
</tabs>

<button style="position: absolute; bottom: 0; left: 0; height: 48px; width: 140px;"
        ng-click="solveModel()"
        class="btn btn-success">Solve model
</button>

</body>

</html>
