<!doctype html>
<html ng-app="lio-ng">
<head>
  <title>Linear Optimization</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script type="text/javascript"
          src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript"
      src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
  <script type="text/javascript"
          src="//apis.google.com/js/client.js"></script>
  <script type="text/javascript"
          src="//apis.google.com/js/api.js"></script>

  <script type="text/javascript" src="/lib/jqplot/jquery.jqplot.js"></script>
  <script type="text/javascript" src="/lib/jqplot/plugins/jqplot.highlighter.js"></script>
  <script type="text/javascript" src="/lib/jqplot/plugins/jqplot.cursor.js"></script>
  <script type="text/javascript" src="/lib/marked/marked.js"></script>
  <script type="text/javascript" src="/lib/marked/angular-marked.js"></script>
  <script type="text/javascript" src="/lib/ui-ace/ui-ace.js"></script>
  <script type="text/javascript" src="/lib/ui-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="/lib/ui-chart/chart.js"></script>
  <script type="text/javascript" src="/src/boot.js"></script>
  <script type="text/javascript" src="/src/ace/mode-gmpl.js"></script>
  <script type="text/javascript" src="/src/ace/theme-lio-ng.js"></script>
  <script type="text/javascript" src="/src/directives/resultgraph.js"></script>
  <script type="text/javascript" src="/src/directives/resulttable.js"></script>
  <script type="text/javascript" src="/src/directives/resizable.js"></script>
  <script type="text/javascript" src="/src/directives/mathjax.js"></script>
  <script type="text/javascript" src="/src/directives/tabs.js"></script>
  <script type="text/javascript" src="/src/application.js"></script>
  <script type="text/javascript" src="/src/common/util.js"></script>
  <script type="text/javascript" src="/src/common/math_util.js"></script>
  <script type="text/javascript" src="/src/dialogs/about.js"></script>
  <script type="text/javascript" src="/src/dialogs/feedback.js"></script>
  <script type="text/javascript" src="/src/dialogs/sensitivity.js"></script>
  <script type="text/javascript" src="/src/services/google-api.js"></script>
  <script type="text/javascript" src="/src/services/google-drive.js"></script>
  <script type="text/javascript" src="/src/services/jqplotrenderer.js"></script>
  <script type="text/javascript" src="/src/services/message.js"></script>
  <script type="text/javascript" src="/src/services/retry.js"></script>
  <script type="text/javascript" src="/src/services/solver.js"></script>
  <script type="text/javascript" src="/src/services/storage.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/ui-bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/lib/jqplot/jquery.jqplot.css">
  <link rel="stylesheet" type="text/css" href="/src/css/application.css">
  <link rel="stylesheet" type="text/css" href="/src/directives/resulttable.css">

  <script type="text/x-mathjax-config">
        MathJax.Hub.Config({skipStartupTypeset: true});
  </script>
</head>

<body ng-controller="AppCtrl">
<!-- PLACEHOLDER -->

<div class="collapse navbar-collapse navbar-inverse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle">Model</a>
      <ul class="dropdown-menu">
        <li><a>New model</a></li>
        <li class="divider-vertical"></li>
        <li><a ng-click="loadModelFromDrive()">Load from Google Drive...</a></li>
        <li><a>Save to Google Drive...</a></li>
        <li class="divider-vertical"></li>
        <li><a>Download</a></li>
        <li><a>Print</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Run</a>
      <ul class="dropdown-menu">
        <li><a ng-click="solveModel()">Solve</a></li>
        <li><a ng-click="showSensitivityDialog()">Sensitivity analysis...</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Examples</a>
      <ul class="dropdown-menu">
        <li ng-repeat="item in examples" ng-class="{'dropdown-submenu': item.hasOwnProperty('subItems')}">
          <a ng-click="loadModel(item.url)">{{item.name}}</a>
          <ul class="dropdown-menu">
            <li ng-repeat="subItem in item.subItems">
              <a ng-click="loadModel(subItem.url)">{{subItem.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle">Help</a>
      <ul class="dropdown-menu">
        <li><a target="_blank" href="http://www.lio.yoriz.co.uk/">Book website</a></li>
        <li><a target="_blank" href="/doc/gmpl/index.html">GNU MathProg language reference</a></li>
        <li class="divider-vertical"></li>
        <li><a ng-click="showFeedback()">Leave feedback...</a></li>
        <li><a ng-click="showAbout()">About...</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="butter-bar-outer">
  <div class="butter-bar-inner" ng-controller="ButterBarCtrl" ng-show="isVisible">
    <span ng-show="status.waitingIndicatorVisible"><img src="/images/working.gif"></span>
    {{status.message}}
    <div class="close-btn" ng-click="clear()">&#10006;</div>
  </div>
</div>

<tabs>
  <tabpane name="Information">
    <div id="model-help" mathjax-bind="model.help" resizable
         style="height: {{windowHeight - 26}}px;">
    </div>
  </tabpane>
  <tabpane name="Model">
    <div id="editor"
         ui-ace="{mode: 'gmpl', theme: 'lio-ng'}"
         ng-model="model.code"
         resizable
         style="height: {{windowHeight - 26}}px; width: 100%; font-size: 14px;"></div>
  </tabpane>
  <tabpane name="Result">
    <div id="model-results" resizable
         style="height: {{windowHeight - 26}}px;">
      <div ng-repeat="entry in model.results">
        <div ng-switch on="entry.type">
          <result-table ng-switch-when="table" ng-model="entry.table"></result-table>
          <result-graph ng-switch-when="graph" ng-model="entry.graph"></result-graph>
        </div>
      </div>
    </div>
  </tabpane>
  <tabpane name="Messages">
    <div id="model-log"
         class="log"
         resizable
         style="height: {{windowHeight - 26}}px;">{{model.log}}
    </div>
  </tabpane>
</tabs>

<button style="position: absolute; bottom: 0; left: 0; height: 48px; width: 140px;"
        ng-click="solveModel()"
        class="btn btn-success">Solve model
</button>

</body>

</html>
